/* http://meyerwebxcom/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


/**************** Footer       ***************/

footer{
  z-index: 5;
}

footer>div>img{
  width: 100%;
  margin-top: -5rem;
}

/*//////////////////////////////////////////*/

/**************** Main Content ***************/
body {
  background-color: #f3e7e1;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#firstLayer {
  z-index: 1;
}

#secondLayer {
  transform: translate(0, -10rem);
  z-index: 2;
}

#thirdLayer {
  transform: translate(0, -15rem);
  margin-bottom: -15rem; /*Pour compenser les 15 rem d'au dessus*/
  z-index: 3;
}

.centerTitleCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: 90%;
  padding: 5rem 5% 10rem 5%;
}

.card>div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lastCard{
  width: 90%;
  padding: 5rem 5% 0rem 5%;
}

main{
  margin-bottom: -8rem;
}

#thirdLayer:last-child{
  margin-bottom: -2rem;
}

#links{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

/******************** Button To Combava ***********/

#arrowLeft{
  height: 3rem;
  width: 3rem;
  z-index: 2;;
  transform: rotate(90deg);
}

#arrowRight{
  height: 3rem;
  width: 3rem;
  transform: rotate(-90deg);
  z-index: 2;
}

#buttonContainer>span{
  color: white;
  font-family: 'Rock Salt', cursive;
}

#buttonContainer{
  line-height: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2rem);
  background: #BFB500;
  padding: 1rem;
  border-radius: 3rem;
  border: 3px solid black
  ;
}
/*///////////////////////////////////////////////////*/
div>span{
  text-align: center;
}
/*////////////////////////////////////////////*/


/******************** Header ******************/
header{
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrow{
  width: 6rem;
  height: 6rem;;
}


#logo{
  height: 15rem;
  width: 15rem;
  margin: 5rem;
}

#divLogo{
  margin-bottom : 0%;
}

header > div {
  background-image: url(./img/background-906143_1920.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  width: 90%;
  height: 100%;
  position: relative;
}


.citronBackground{
  width: 100%;
  background-image: url(./img/background-906143_1920.jpg);
  background-size:100% 100%;
  background-repeat: no-repeat;
}

/*///////////////////////////////////////////////*/




/*** Generalistics ****/
.title{
  font-family: 'Rock Salt', cursive;
}

.gouttiere{
  position: relative;
  margin-top: 5rem;
  margin-bottom: 7rem;
}


form>div{
  height: 3.5rem;
}
form>div>label{
  line-height: 25px;;
}
.white{
  background: rgb(255, 255, 255);
}

.wheat{
  background:#fffdd9;
}
.titleContainer{
  border:2px solid black;
  background-color: yellow;
  min-height: 70px;
  min-width: fit-content;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

.roundBorder{
  border-radius: 5rem 5rem 5rem 5rem;
}

/*//////////////////////////////////*/


/******** Transitions *********/

  /******** Color changer for transitions *********/

  .transitor{
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: -100;
    transform: translate(0rem, 200rem);
    background-color: wheat;
  }
  /*/////////////////////////////////////////////*/

  /******** Titles between transitions *********/

  .titleTransitor{
    z-index:4;
    transform: translate(0px, -7rem);
    position: absolute;
  }

  /*/////////////////////////////////////////////*/

/*/////////////////////////////////////////////*/
